

.sasi{
  background-color: bisque;
  
    

    .sasi2{
        margin-top: -200px;
        
    }
}
 img{
    margin-left: 750px;
    border: 2px solid bback;
    height: 250px;

}
.sasi2{
    margin-left: 70px;
}
.sasi3{
    margin-left: 70px;
}
.lucky{
height: 400px;
    
    background-color: gray;
}

.lucky1{
    margin-left: 500px;
    font-size: 30px;
}
.lucky2{
    margin-left: 150px;
}
.lucky3 img{
    margin-top: 20px;
   margin-left: 150px;
    width: 250px;
    height: 250px;
}
.rama{
    background-color: rgb(86, 146, 146);
}
.rama1{
    
  font-size: 30px;
  margin-left: 500px;
}
.rama2{
    margin-left: 250px;
}
button{
    margin-left: 500px;
    margin-top: 5px;
}
.nandhu{
    background-color: rgb(97, 145, 129);
    height: 253px;
}
.nandhu1 img{
    margin-left: 200px;
    border: 2px solid rgb(97, 145, 129);
    float: left;
    height: 250px;
    width: 250px;
    
}
.nandhu2{
    
   margin-left: 700px;
   font-size: 20px;
    
}
.nandhu3{
    margin-left: 500px;
    margin-top: 20px;
}



